<h1>Create New Financial Goal</h1>

<form action="/users/{{userId}}/finGoals" method="POST">
  <div>
    <label for="name">Name your Financial Goal</label>
    <input type="text" name="name" placeholder="Goal name" />
  </div>
  <div>
    <label for="amount">Goal Amount</label>
 <input type="text" name="goalAmount" placeholder="amount of goal" />
  </div>
  <div>
    <label for="currentAmount">Current Amount</label>
    <input type="number" name="currentAmount" placeholder="current amount" />
  </div>
    <div>
    <label for="dueDate">Set Due Date</label>
    <input type="date" name="dueDate" placeholder="Enter due date" />
  </div>
    <div>
    
  </div>
  
  <button type="submit">Create New Financial Goal</button>
</form>
  
  
  {{!-- <textarea 
    type="text" 
    name="email" 
    placeholder="Email"></textarea> --}}
      {{!-- <input type="text" class="datepicker">
       document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
       --}}