<div class="center" id='create' >
<h1>Create New Financial Goal</h1>


<form action="/users/{{userId}}/finGoals" method="POST">
  <div>
  
   <p>Name of Goal</p> <input type="text" name="name"/>
  </div>
  <div id='right'>
  
 <p> Goal Amount</p><input type="text" name="goalAmount"/>
  </div>
  <div id='right'>
  
   <p>Current Amount </p><input type="number" name="currentAmount"/>
  </div>
    <div id='right'>
  
   <p>Due Date</p> <input type="date" name="dueDate"/>
  </div>
  
  </div>
  <center>
  <button id ='movedown' type="submit">Create New Financial Goal</button>

  </center>
  </form>
