<div class='main'>
    <center>
        <h1>
            <u>BudgetUp!</u>
        </h1>
    </center>
    <center>
        <p>Welcome to {{title}}</p>
    </center>

    <div>
        <h1>Already a User?</h1>
    </div>
    <form>


        <label for="login">Email</label>
        <input type="text" placeholder="email address" />
        <label for="userPassword">Password: </label>
        <input id="userPassword" type="password" required>
        <input type="submit" value="Submit">

    </form>
</div>
    <form action="/users/new">
        <h1>New User?</h1>
        <a href="/users/new">
            <button type='submit'>Create New Account</button>
        </a>
    </form>
</div>