<div class='main'>

    <center>
        <h4 class='welcome'>Welcome to {{title}}</h4>
    </center>

    <div class='form'>
        <h1>Already a User?</h1>

        <form action='/users/'>
            <label for="login">Email</label>
            <input type="text" placeholder="email address" />
            <label for="userPassword">Password: </label>
            <input id="userPassword" type="password" required>
            <button type="submit">Submit</button>

        </form>
    </div>
    <form action="/users/new">
        <h1>New User?</h1>
        <a href="/users/new">
            <button type='submit'>Create New Account</button>
        </a>
    </form>
</div>
 <script>
        const sideNav= document.querySelector('.sidenav');
Map.SideNav.init(sideNav, {});
      </script>