body {
   padding: 50px;
  font-family: 'Fjalla One', sans-serif;

  background-image: url('../images/up.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* .image{
  background-size: cover;
} */

a {
  color:#00463F;
}
.main{
 display: flex;
 height: 100vh;


}