html{
  height: 100%;
}
body {
   /* padding: 50px; */
  font-family: 'Fjalla One', sans-serif;

  background-image: url('../images/up.png');
  margin:0;
  padding:0;
  /* height:100%; */
  min-height: 100vh;
  
}
.showUserBack{

  height: 100vh;
  width:70%;
  position:relative;
}
.body{
  padding:60px;
   padding-bottom:60px; 
  background-color: rgba(116, 124, 117, 0.3);
  border: solid;
}
a {
  color:#00463F;
}
.main{
 display: flex;
 height: 100vh;
}
.input-field col s5{
  color:black;
}
.shade{
  border:solid;
  background-color: rgba(255, 255, 255, 0.8);
  height:60px;
}
.welcome{
 position: relative;
margin-right: 280px;
color:black;
margin-top:25px;
font-size:15px;
font-style: italic;
}
#man1{
  margin-top:80px;
  position: relative;
  margin-left:-100px;
}
.nav{
  background-color: rgba(0, 193, 138, 0.4); 
  color: rgba(0, 193, 138, 0.4);
}
#myNav:hover{
  text-decoration:aquamarine;
  text-decoration: underline;
}
#bar{
  width:50px;
  height:5vh;
  border:solid;
  position: relative;
}
.user{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
#allusers{
  margin-top:100px;
  background-color: rgba(7, 105, 78, 0.4);
  box-shadow: 0,0,0.5;
  box-shadow: 3px 3px rgba(59, 58, 58, 0), -1em 0 .4em rgb(0, 128, 38);
  
}
.image{
  height:200px;
  width:200px;
  border-radius: 200px;
  box-shadow: 0,0,0.5;
  box-shadow: 3px 3px rgba(59, 58, 58, 0), -1em 0 .4em rgb(0, 128, 38);
}
#man{
  position: relative;
  margin-top:-30px;
}
#man3{
  margin-left:-100px;
  margin-top:90px;
}
#show{
  margin-top:90px;
  
}
#budget{
  background-color: rgba(82, 83, 83, 0.4);
 border:solid;
margin-top: 110px;
}
#man5{
  margin-top: 100px;
  margin-left:-100px;
}
#man6{
  margin-top: -710px;
  margin-left:-1230px;
  /* position: relative; */
}
#butt{
  /* display: flex; */
  justify-content: space-between;
 
}

p{
  color:white;
}
button{
  border-radius: 10px;
}
h3,h4,h5,h6,h1,h2{
  font-family: 'Cormorant Unicase', serif;
  font-weight: bolder;
 

}
.pic{
  border: solid;
  border-radius: 20px;
}
.but{
  margin-top:5px;
}
#gb{
  margin-left:10px;
}
.gb{
  margin-left:10px;
  margin-top:10px;
}
#already{
  background-color: rgba(0, 193, 138, 0.4); 
color:white;
margin-top:150px;
padding:15px;
box-shadow: 0,0,0.5;
box-shadow: 3px 3px rgba(59, 58, 58, 0), -1em 0 .4em rgb(0, 128, 38);
}
#already2{
  background-color: rgba(82, 83, 83, 0.4); 
color:white;
margin-top:150px;
padding:15px;
box-shadow: 0,0,0.5;
box-shadow: 3px 3px rgba(59, 58, 58, 0), -1em 0 .4em rgb(0, 128, 38);
}
#already3{
  background-color: rgba(82, 83, 83, 0.4); 
color:white;
margin-top:90px;
padding:15px;
box-shadow: 0,0,0.5;
box-shadow: 3px 3px rgba(59, 58, 58, 0), -1em 0 .4em rgb(0, 128, 38);
}
.navbar-fixed{
box-shadow: 0,0,0.5;
box-shadow: 3px 3px rgba(59, 58, 58, 0), -1em 0 .4em rgb(0, 128, 38);
}
#bud{
  margin-bottom: 10px;
}
#man2{
  margin-top:-600px;
position: relative;
margin-left:-1250px;
}
#new{
  padding:15px;
  color: white;
  margin-top:150px;
  margin-left: 50px;
  background-color: rgba(0, 193, 138, 0.4); 
}
.center2{
  border:solid;
  background-color: rgb(112, 108, 108,0.5);
  max-width: 600px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;

}
#fingoal{
  background-color: rgba(82, 83, 83, 0.4); 
  border:solid;
  margin: 0 auto;
}
.form{
  padding:100px;
  /* border:solid white; */
  height:30px;
  position: absolute;
  margin-left:1050px; 
  margin-top:40px; 

}
.footer{
  
   padding:10px;
}
.header{

  padding:10px;
}
#create{
  background-color: rgba(82, 83, 83, 0.4);
 max-width: 800px;
  margin: 0 auto;
  border:solid;
  margin-top:50px; 
  
}
goal{
  min-height:
  200px;
}
#movedown{
  margin-top:10px;
}