body {
   /* padding: 50px; */
  font-family: 'Fjalla One', sans-serif;

  background-image: url('../images/up.png');
  /* background-size:cover; */
  /* background-repeat: no-repeat; */
  /* background-position:absolute; */
  /* height:auto; */
  margin:0;
  padding:0;
  height:100%;
}
.showUserBack{

  height: 100vh;
  width:70%;
  position:relative;
}
.body{
  padding:60px;
   padding-bottom:60px; 
  background-color: rgba(116, 124, 117, 0.3);
  border: solid;
}
a {
  color:#00463F;
}
.main{
 display: flex;
 height: 100vh;
}
.shade{
  border:solid;
  background-color: rgba(255, 255, 255, 0.8);
  height:60px;
}
.welcome{
  justify-content: right;
}
.already{
  float: right;
}
.form{
  padding:100px;
  /* border:solid white; */
  height:30px;
  position: absolute;
  margin-left:1050px; 
  margin-top:40px; 

}
.footer{
  
   padding:10px;
}
.header{

  padding:10px;
}