<h1>Create New Budget</h1>

<form action="/index" method="POST">
  <div>
    <label for="budgetName">Name your Budget</label>
    <input type="text" name="budgetName" placeholder="Budget Name" />
  </div>
  <div>
    <label for="expenses">Type of Expense</label>
 <input type="text" name="expenses" placeholder="enter name of expense" />
  </div>
  <div>
    <label for="amount">Amount of Expense</label>
    <input type="number" name="amount" placeholder="Enter amount of expense" />
  </div>
  <button type="submit">Create New Budget</button>
</form>
  
  
  {{!-- <textarea 
    type="text" 
    name="email" 
    placeholder="Email"></textarea> --}}