<div class='center' id='create'>
  <h4>
    <u>Create New Budget</u>
  </h4>

  
    <form action="/users/{{userId}}/budget" method="POST">
      <div class="row">
          <p>Name of Budget</p>
          <input type="text" name="budgetName.name" />
        </div>
     
      <div class="row">
       
         <p>Name of Expense</p> <input id="expenses" type="text" name='expenses.name'>

        </div>
 
      <div class="row">
  
         <p>Amount of Expense</p> <input id="amount" type="number" name='expenses.amount' required>

        </div>
      
      <div class="row">
        
       <p>Income Stream</p>   <input id="incomeType" type="text" name="income.incomeType">

        </div>
    
      <div class="row">
      
        <p>Amount of Income Stream</p>  <input id="amount" type="number" name="income.amount">
     
        </div>
    </div>
    <center>  <button id='movedown' class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
      </button></center>
    </form>


  
  <div class="left" id='man6'>
    <img src="/images/money.png" alt="">
  </div>



  {{!--

  <h1>Create New Budget</h1>

  <form action="/users/{{userId}}/budget" method="POST">
    <div>
      <label for="budgetName.name">Name your Budget</label>
      <input type="text" name="budgetName.name" placeholder="Budget Name" />
    </div>
    <div>
      <label for="expenses">Type of Expense</label>
      <input type="text" name="expenses.name" placeholder="enter name of expense" />
    </div>
    <div>
      <label for="amount">Amount of Expense</label>
      <input type="number" name="expenses.amount" placeholder="Enter amount of expense" />
    </div>
    <div>
      <label for="incomeType">Income Stream</label>
      <input type="text" name="income.incomeType" placeholder="Enter amount of expense" />
    </div>
    <div>
      <label for="amount">Amount of Income Stream</label>
      <input type="number" name="income.amount" placeholder="Enter amount of expense" />
    </div>

    <button type="submit">Create New Budget</button>
  </form>
  --}} {{!--
  <textarea type="text" name="email" placeholder="Email"></textarea> --}}