<div class='right' id='already2'>
<h4><u>Create New Profile</u></h4>

  <div class="row">
    <form action="/users{{user}}" method="POST" class="col s8">
      <div class="row">
        <div class="input-field col s10">
            <i class=" small material-icons prefix">account_circle</i>
         <label for="name">Name</label>
    <input type="text" name="name" placeholder="User Name" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <input id="email" type="text" name='email' required>
          <label for="email">Enter your Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <input id="password" type="password" name='password' placeholder="Password" required>
          <label for="password">Create a password</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s10">
          <input id="pic" type="text" name="pic" placeholder="image url">
          <label for="pic">Upload Profile Picture</label>
        </div>
      </div>
       <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
 
    
  </div>
   <div class="left" id='man2'>
  <img src="/images/money.png" alt="">
</div>

  
